body {
  background-color: #212121;
  color: white;
}

.circle {
  border-radius: 50%;
}

.calc-background {
  background-color: black;
  width: 100%;
}

#display {
  background-color: #eeeeee;
  color: black;
  font-size: 25px;
  border-radius: 25px;
  height: 40px;
  text-align: right;
}
